# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"
export CLICOLOR=1
export LSCOLORS=ExFxCxDxBxegedabagacad
export HISTSIZE=32768

export ANT_HOME=/usr/local/ant-1.8.2
export ANT_OPTS="-Xmx1048m -XX:+UseCompressedOops"

export PROTOBUF_HOME=/usr/local

export PATH="/usr/local/bin:/usr/local/sbin:$PATH"

export PATH="$PATH:/usr/local/sbin"
export PATH="$PATH:$ANT_HOME"
# export PATH="$PATH:/usr/local/Cellar/git/1.7.11.1/bin"

export CC=/usr/local/Cellar/apple-gcc42/4.2.1-5666.3/bin/gcc-4.2 
#export JAVA_HOME=/Library/Java/JavaVirtualMachines/1.6.0_31-b04-411.jdk/Contents/Home
export JAVA_HOME=$(/usr/libexec/java_home)
export JDK_HOME=$(/usr/libexec/java_home)
export JAVA_OPTS="$JAVA_OPTS -XX:+UseCompressedOops"
export MAVEN_OPTS=-"Xmx2048m -XX:PermSize=256m -XX:MaxPermSize=512m -XX:+UseCompressedOops"
export M2_HOME=/usr/local/apache-maven-3.0.4/

export NODE_PATH=/usr/local/lib/node_modules
export GROOVY_HOME=/usr/local/Cellar/groovy/2.0.5/libexec
export JRUBY_OPTS=--1.9

export HOMEBREW_TEMP=$HOME/tmp
export TEMP=$HOME/tmp

export HADOOP_OPTS="-Djava.security.krb5.realm= -Djava.security.krb5.kdc="
export HADOOP_HOME=/usr/local/hadoop-1.1.2/
export HADOOP_PREFIX=/usr/local/hadoop-1.1.2/
export HBASE_HOME=/usr/local/hbase-0.94.4

export AWS_CONFIG_FILE=~/Dropbox/amazon-prod/aws.config2

[[ -s "/Users/mcohen/.rvm/scripts/rvm" ]] && source "/Users/mcohen/.rvm/scripts/rvm"  # This loads RVM into a shell session.

PATH=$PATH:$HOME/.rvm/bin # Add RVM to PATH for scripting

# Setting PATH for Python 2.7
# The orginal version is saved in .bash_profile.pysave
PATH="/Library/Frameworks/Python.framework/Versions/2.7/bin:${PATH}"
PATH=$PATH:/usr/local/scala-2.10.0/bin
PATH=$PATH:$HADOOP_PREFIX/bin
PATH=$PATH:$HBASE_HOME/bin
PATH=$PATH:/usr/local/elasticsearch/elasticsearch-0.20.4/bin
PATH=$PATH:/usr/local/share/npm/bin
export PATH